.footer { font-size: .8em;
	width: 100%vh;
	margin: auto;
	padding: 30px 20px 50px; 
	clear: both; 
	color: #b2b5b9;
	background: #1e1e1e;

}

.footer span {
	text-align: center;
	color: red;
}

@keyframes fa-blink {
	0% { color:whitesmoke }
	100% { color:tomato }

	0% { opacity: 1; }
	50% { opacity: 0.5; }
	100% { opacity: 0; }
}

.fa-blink:hover {
  animation: fa-blink .75s linear infinite;
}