.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #95a5a6;
}

.nav li {
  float: right;
}

.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 25px 16px;
  text-decoration: none;
  font-family: Metropolis;
  font-size: 12px;
}

.nav li a:hover {
  background-color: rgb(141, 117, 117);

}

.nav {
  border: solid black 2px;
}

#pesq {
  padding: 12px 26px;
  margin: 6px;
  margin-left: 50px;
  width: 760px;
}

#lupa {
  padding: 9px 15px 15px;
  margin: 6px -6px;
}

img {
  float: left;
}

.sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebar li a {
  display: block;
  width: 60px;
}

.sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;

}

.sidebar li a {
  display: block;
  color: #000;
  padding: 10px 35%;
  text-decoration: none;
  text-align: center;
}

.sidebar li a:hover {
  background-color: #555;
  color: white;

}

.sidebar strong {
  text-align: center;
  margin: 17%;
  padding: 10px 15px;
}

.sidebar {
  margin: 3px 0px;
  width: 200px;
  border: solid black 2px;
  float:left;
}

#ativado {
  background-color: #555;
  color: white;
}
.cadastro input {
  margin:20px;
}
.cadastro {
  width:200px; 
  height:300px;
  border-radius: 15%;
  border:solid 2px #95a5a6;
}
.divcadastro {
  border:solid black 2px;
  position: absolute;
  padding: 20px;
  margin-top:20%;
  margin-left: 40%;
}

.box img {
  border: 2px solid red;
  float: right;
  margin: 3px 0px 1px;
}


.promo {
  height: 200px;
}

.promo1 img {
  border: 2px solid cyan;
  margin: 5px;
}

.promo2 img {
  border: 2px solid cyan;
  margin: 5px;
}

.promo3 img {
  border: 2px solid cyan;
  margin: 5px;
}

.promo4 img {
  border: 2px solid cyan;
  margin: 5px;
}
