* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans",sans-serif;
  text-decoration: none;
  list-style: none;
}

body {
  min-height: 100vh;
  background-color:#ecf0f1;
}

/* Dropdown */

.dropbtn {
  background-color: #e67e22;
  color: white;
  font-size: 16px;
  border: none;

  text-align: center;
  padding: 23px 16px;
  text-decoration: none;
  font-family: Metropolis;
}

.dropbtn a {
  color: white;
}

.dropdown {
  position: absolute;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #e67e22;
  min-width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #d35400;}

.dropdown:hover .dropdown-content {display: block;}

/* Fim dropdown */

/* Navegação TOP */

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #e67e22;
}

.nav li {
  float: right;
}

.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 25px 16px;
  text-decoration: none;
  font-family: Metropolis;
  font-size: 14px;
}

.nav li a:hover {
  background-color: #d35400;

  -moz-box-shadow:0 5px 5px 0 #CCC; 
  -webkit-box-shadow:0 3px 10px 0 #ccc; 
}

.nav li  ul{
position:absolute; 
top:25px; 
left:0;
background-color:#fff; 
display:none;
} 

.nav li:hover ul, .menu li.over ul{display:block;}

#ativado {
  background-color: #d35400;
  color: white;
}

#pesq {
  padding: 12px 26px;
  margin: 6px;
  margin-left: 50px;
  background-color: white;
  width: 550px;
}

#lupa {
  padding: 9px 15px 15px;
  margin: 6px -6px;
}

/* Fim Navegação Top*/

/* Navegação Lateral */

.sidebar ul {
  list-style-type: none;
}

.sidebar li a {
  text-align: center;
}

.sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 54%;
  width: 100%;
  background-color: #e67e22;

}

.sidebar li a {
  display: block;
  color: white;
  padding:10px 25%;
  text-decoration: none;
  text-align: center;
}

.sidebar li a:hover{
background:#d35400; 
color:#fff; 
-moz-box-shadow:0 3px 5px 0 #CCC; 
-webkit-box-shadow:0 3px 10px 0 #ccc; 
text-shadow:0px 0px 5px #fff; 
}

.sidebar strong {
  margin-left: 27%;
  color:white;
}

.sidebar {
  margin-top: 20px;
  margin: auto;
  width: 18.4%;
  float:left;
}

/* Fim Navegação Lateral */

/*
.cadastro input {
  margin:20px;
}
*/
.boxi img {
  float: right;
  margin: auto;
  width: 81.6%;
  height: 54%;
}

img {
  float: left;
}

.promo {
  float: left;
  width: 100%;
  margin-left: 19.6%;
  margin: auto;
}

.promo1 img {
  margin: 8.5px;
  margin-left: 0%;
}

.promo2 img {
  margin: 8.5px;
  margin-left: 12px;
  padding: .5px;
}

.promo3 img {
  margin: 8.5px;
  padding: .5px;
}

.promo4 img {
  margin: 8.5px;
  padding: .5px;
}

.container{
  max-width: 1000px;
  margin-bottom: 10vh;
  margin: -1.7%;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
}

.pricing-table {
  background: #1c1e1f;

  flex: 1;
  margin: 10px;
  text-transform: uppercase;
}

.pricing-header {
  color: #fff;
  position: relative;
  margin-bottom: 20px;
}

.price {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
}

.title {
  position: relative;
  bottom: 0;
  left: 50%;
  transform: translate(-50%,50%);
  width: 80%;
  max-width: 360px;
  text-align: center;
  padding: 8px 0;
  font-size: 14px;
}

.pricing-list li {
  margin: 8px 0;
  font-size: 14px;
  color: white;
  text-align: center;
}

.border {
  width: 80px;
  height: 1px;
  background: #ddd;
  margin: auto;
}

.pricing-table a {
  display: block;
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
  padding: 8px 0;
  font-size: 14px;
  border: 1px solid;
  max-width: 360px;
  transition: .2s linear;
}
.pricing-table a:hover {
  border-radius: 30px;
}
.table1 .pricing-header{
  background: #2980b9;
}


.table1 .title{
  background-image: linear-gradient(125deg,#3b25bb,#ff0000);
}

.table1 a{
  color: #2980b9;
}

.table1 a:hover{
  background: #2980b9;
  color: #fff;
}

@media screen and (max-width:780px) {
  .pricing-table{
    flex: 100%;
  }
}

.formulario legend {
  color:lightgray;
  font-size: 30px;
  font-family: Metropolis;
}

.formulario textarea {
 width: 245px;
 height: 100px;
 margin: 7 30;
 border: solid gray 2px;
}

.formulario input[type = 'submit'] {
border:1px solid #25692A;
border-radius:24px;
display:inline-block;
cursor:pointer;
font-family:Verdana;
font-weight:bold;
font-size:13px;
padding:6px 6px;
text-decoration:none;
margin: 7 30;
}

.formulario input[type = 'reset'] {
border:1px solid #25692A;
border-radius:24px;
display:inline-block;
cursor:pointer;
font-family:Verdana;
font-weight:bold;
font-size:13px;
padding:6px 6px;
text-decoration:none;
margin-top: 7 ;
margin-left: 60px;
}

.formulario {
  width:300px; 
  height: auto;
  border-radius: 24px;
  border:solid 2px #95a5a6;
}

.divformulario {
  padding: 20px;
  margin-left: 40%;
  margin-bottom: 10%;
}

.formulario input[type = 'email'],input[type = 'text'],input[type = 'number'],input[type= 'password'] {
  margin-top:1px;
  color:black;
  width: 245px;
  border:solid gray 2px;
  padding: 2px;
  margin: 7 30;
}

.cadastro input[type = 'submit'] {
border:1px solid #25692A;
border-radius:24px;
display:inline-block;
cursor:pointer;
font-family:Verdana;
font-weight:bold;
font-size:13px;
padding:6px 6px;
text-decoration:none;
margin: 7 30;
}

.cadastro input[type = 'reset'] {
border:1px solid #25692A;
border-radius:24px;
display:inline-block;
cursor:pointer;
font-family:Verdana;
font-weight:bold;
font-size:13px;
padding:6px 6px;
text-decoration:none;
margin-top: 7 ;
margin-left: 60px;
}

.cadastro {
  width:300px; 
  height: auto;
  border-radius: 24px;
  border:solid 2px #95a5a6;
}

.divcadastro {
  padding: 20px;
  margin-left: 40%;
  margin-bottom: 10%;
}

.cadastro input[type = 'email'] ,input[type= 'password'] {
  margin-top:1px;
  color:black;
  width: 245px;
  border:solid gray 2px;
  padding: 2px;
  margin: 7 30;
}

.cadastro legend {
  color:lightgray;
  font-size: 30px;
  font-family: Metropoli;

}

.login input[type = 'submit'] {
border:1px solid #25692A;
border-radius:24px;
display:inline-block;
cursor:pointer;
font-family:Verdana;
font-weight:bold;
font-size:13px;
padding:6px 6px;
text-decoration:none;
margin: 7 30;
}

.login input[type = 'reset'] {
border:1px solid #25692A;
border-radius:24px;
display:inline-block;
cursor:pointer;
font-family:Verdana;
font-weight:bold;
font-size:13px;
padding:6px 6px;
text-decoration:none;
margin-top: 7 ;
margin-left: 60px;
}

.login {
  width:300px; 
  height: auto;
  border-radius: 24px;
  border:solid 2px #95a5a6;
}
.divlogin {
  position: relative;
  padding: 20px;
  margin-left: 40%;
  margin-bottom: 10%;
}

.login input[type = 'email'] ,input[type= 'password'] {
  margin-top:1px;
  color:black;
  width: 245px;
  border:solid gray 2px;
  padding: 2px;
  margin: 7 30;
}

.login legend {
  color:lightgray;
  font-size: 30px;
  font-family: Metropoli;
}


.nav #translate {
  float: right;
}

/* Footer */


.main {
  max-height: 550px;
  color: white;
  font-size: 38pt;
  text-align: center;
}
footer{
  position: relative;
  bottom: 0;
}
.footer-distributed{
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;

  padding: 55px 50px;
  margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

.footer-distributed .footer-left{
  width: 40%;
}

.footer-distributed h3{
  color:  #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
}

.footer-distributed h3 span{
  color:  #5383d3;
}


.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  color:  #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}


.footer-distributed .footer-center{
  width: 35%;
}

.footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer-distributed .footer-center p a{
  color:  #5383d3;
  text-decoration: none;;
}

.footer-distributed .footer-right{
  width: 20%;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons{
  margin-top: 25px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}


@media (max-width: 880px) {

  .footer-distributed{
    font: bold 14px sans-serif;
  
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }
  .main {
    line-height: normal;
    font-size: auto;
  }

}

/* Fim Footer */

/* Telas de Login/Cadastro 2.0 */

.boxform {
  width: 400px;
  height: auto;
  padding: 40px;
  position: absolute;
  margin-top: 300px;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #bdc3c7;
  text-align: center;
}

.boxform h1 {
  color: black;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 26px;
  text-align: center;
}

.boxform a,h4 {
  color: black;
  font-size: 14px;
  margin: 15px;
  text-align: center;
}

.boxform input[type = "email"], input[type = "password"], input[type = "text"] {
  border: 0;
  background: none;
  display: block;
  margin: 6px auto;
  text-align: center;
  border: 2px solid #d35400;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s; 
}

.boxform input[type = "email"]:focus, input[type = "password"]:focus, input[type = "text"]:focus {
  width: 280px;
  border-color: red;
}

.boxform input[type = "submit"], input[type = "reset"] {
  border: 0;
  background: none;
  display: block;
  margin: 8px auto;
  text-align: center;
  border: 2px solid #d35400;
  padding: 14px 40px;
  width: 200px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.boxform input[type = "submit"]:hover, input[type = "reset"]:hover {
  background: #e67e22;
}

.box {
  color: black;
  width: 400px;
  padding: 40px 125px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #191919;
  text-align: left;
  word-spacing: 10px;
}

.boxt td,tr{
  border: 2px solid tomato;
}

.box h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}

.boxtext {
  padding: 30px 90px;
  margin: 14px 14px;
  top: 15%;
  width: 800px;
  float: left;
}
/* Fim das Telinhas Login/Cadastro D: */

/* Tabela */

  table {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    color: inherit;
    background-color: white;
    width: 400px;
    height: 200px;
  }

  tr:nth-child(even) {
    background-color: #edf5ff; }

  tr:hover {
    background-color: rgb(0, 174, 255);
    color: fff;
  }

  /* fim tabela */